@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Unlock&display=swap');
body {
    background-color: lightblue;
}

#contenedor {
    width: 800px;
    height: auto;
    margin: auto;
   background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

#centro {
    height: 500px;background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1 { font-family: "Danfo", serif;
    color: black;
    text-align: center;
}

#caja1 {
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(101,107,0,0.49) 51%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    width: 300px;
    height: 400px;
    float: left;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 50px;
    background-color: aliceblue;
}
h2{ font-family: "Unlock", serif;}
#caja2 {
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(101,107,0,0.49) 51%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 300px;
    height: 400px;
    float: left;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 20px;
    background-color: chocolate;
}
img {
    display:block;
    margin: auto;
    padding: 10px;
}

.centrado{

	text-align:center;

}